<p-sidebar
  [visible]="(sidebarVisible$ | async) ?? false"
  position="right"
  [fullScreen]="true"
  showCloseIcon="false"
>
  <ng-template pTemplate="header">
    <div class="close-button">
      <p-button (onClick)="hideSidebar()" icon="pi pi-times" severity="danger" />
    </div>
  </ng-template>
  <app-country-chooser/>
</p-sidebar>
<h3>Current selected country: {{ (selectedCountry$ | async)?.name || "None" }}</h3> <p-button (onClick)="showSidebar()" label="Select country" icon="pi pi-globe"/>

<br><br>
<app-weather-info></app-weather-info>
